# Core ML & Data Processing
pandas==2.1.4
numpy==1.26.4
scikit-learn==1.6.1
lightgbm==4.6.0
pyarrow==19.0.1
scipy==1.15.3

# MLOps & Infrastructure
mlflow==2.22.0
python-dotenv==1.1.0
requests==2.32.3
boto3==1.38.13
tqdm==4.67.1
hopsworks[python]>=4.2.2

# Visualization & Dashboard
streamlit
altair
matplotlib==3.10.3

# Utilities & Database
pytz
python-dateutil
jupyter==1.1.1
